* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: radial-gradient(
		circle,
		#21213e,
		#1c1d36,
		#17192e,
		#131426,
		#0f0f1e
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

body > .main {
	width: 500;
	height: 500;
}

body > .main > .container-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body > .main > .container-login > .container-img-login > .img-login {
	width: 150px;
	height: 150px;
}

body > .main > .container-login > .text-login {
	font-size: 25px;
	color: white;
	margin-top: 10px;
	font-weight: 50;
}

body > .main > .container-login > .bar {
	width: 100px;
	height: 2px;
	background-color: white;
	margin-top: 10px;
}

body > .main > .container-login > .input-login {
	width: 350px;
	height: 40px;
	background-color: #505467;
	margin-top: 20px;
	color: white;
	border: none;
	border: solid 2px white;
	border-radius: 5px;
}

body > .main > .container-login > .input-login::placeholder {
	color: white;
	padding-left: 20;
	margin-right: 20;
	border-radius: 50;
}

body > .main > .container-login > .input-login::hover {
	width: 350px;
	height: 40px;
	background-color: #505467;
	margin-top: 20px;
	color: white;
	border: none;
	border: solid 2px white;
	border-radius: 5px;
}

body > .main > .container-login > .input-pass-login {
	width: 60%;
	height: 25px;
}
body > .main > .container-login > .btn-next {
	width: 150px;
	height: 40px;
	background-color: white;
	margin-top: 20px;
	color: #028935;
	font-weight: 700;
	border: none;
	border: solid 2px white;
	border-radius: 10px;
}

body > .main > .container-login-text {
	display: flex;
}
